:root {
  --border-primary: rgb(191 191 191);
}

.social-auth {
  margin-top: 0;
  text-align: center;
  padding-bottom: 1em;
  transform: translateY(0.5lh);
}

.password-validation {
  z-index: 1200;
  background: white;
  bottom: 74px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 8px 15px;

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
  }
}

.password-validation p,
.password-validation s {
  text-align: left;
}

.form-header span {
  font-size: 1.5rem;
  color: rgb(0 0 0 / 60%);
  font-weight: bold;
}

.form-header {
  margin: 0 0 15px;
}

.social-auth-label {
  position: relative;
}

.social-auth-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 37%;
  height: 1px;
  background: var(--border-primary);
  opacity: 0.5;
}

.social-auth-label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 37%;
  height: 1px;
  background: var(--border-primary);
  opacity: 0.5;
}

.social-auth-icon {
  margin-top: 12px;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer;
}

/* .social-auth-icon:focus {
  outline: 1px solid var(--md-light-purple);
} */
.social-auth-icons {
  display: flex;
  justify-content: center;
}
